# Item Store Analysis

### Fortnite Battle Royale

This study intends to cover the availability and monetization of the items daily on sale for Fortnite Battle Royale.

Fortnite Battle Royale by Epic Games is one of the most sucessful

In [6]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import seaborn.objects as so
import os


plt.rcParams.update({"figure.dpi": 150}) # set dpi for all figures
sns.despine() # remove top and right spines from plots
plt.style.use("dark_background")

os.getcwd() # get current working directory

'/Users/gdbr/Documents/Hyper Island/DA24STO/Modules/12. Individual Project/fortnite-store-analysis'

In [7]:
# Load the data
df = pd.read_csv(os.getcwd() + "/csv/" + "store_updated.csv")

In [8]:
display(df.head())
display(df['rarity'].unique())
display(df['item_type'].unique())

,date,rarity,item_type,name,cost,year,quarter,month,week
0,2017-10-30,rare,outfit,First strike Specialist,1200,2017,4,10,44
1,2017-10-30,epic,outfit,Ghoul Trooper,1500,2017,4,10,44
2,2017-10-30,uncommon,outfit,Scout,800,2017,4,10,44
3,2017-10-30,uncommon,glider,Petunia,500,2017,4,10,44
4,2017-10-30,rare,outfit,Recon Expert,1200,2017,4,10,44

array(['rare', 'epic', 'uncommon', 'legendary', 'slurp', 'marvel', 'dark',
       'icon_series', 'frozen', 'shadow', 'gaming_legends', 'dc',
       'star_wars', 'lava', 'common'], dtype=object)

array(['outfit', 'glider', 'pickaxe', 'emote', 'misc', 'backpack',
       'skydive', 'bundle', 'wrap', 'toy', 'pet', 'music', 'banner',
       'loading', 'spray', 'emoji'], dtype=object)

In [5]:
# Number of unique items â€” assuming names act like unique id
len(df["name"].unique())

3351